html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: hidden;
	background: #000;
	display: grid;
	grid-template-columns: 1;
	grid-template-rows: 1;
	justify-items: center;
	align-items: center;
}
